<span class="icon-menu">
  <span class="icon-menu__bar icon-menu__bar-1"></span>
  <span class="icon-menu__bar icon-menu__bar-2"></span>
  <span class="icon-menu__bar icon-menu__bar-3"></span>
</span>
