<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.96 22">
    <title>Cart</title>
    <g data-name="Layer 2">
        <g data-name="Layer 1">
            <path d="M22.7,8l-3,13H4.3l-3-13H22.7M24,7H0L3.51,22H20.45L24,7Z"/>
            <rect x="11.48" width="1" height="7"/>
        </g>
    </g>
</svg>
