<div class="{% unless section.settings.no_margins %}section-spacing container{% endunless %}" data-cc-animate>
  {{ section.settings.custom_liquid }}
</div>

{% schema %}
  {
    "name": "Custom Liquid/HTML",
    "class": "section--custom-html",
    "settings": [
      {
        "type": "checkbox",
        "id": "no_margins",
        "label": "No section spacing",
        "default": false
      },
      {
        "type": "liquid",
        "id": "custom_liquid",
        "label": "Custom Liquid/HTML"
      }
    ],
    "presets": [
      {
        "name": "Custom Liquid/HTML"
      }
    ]
  }
{% endschema %}
