<div class="central content rte py-medium" data-cc-animate>
  <h1 class="feature-header">{{ 'general.404.title' | t }}</h1>
  <p class="align-center">{{ 'general.404.subtext' | t }} <a data-cc-animate-click href="{{ routes.root_url }}">{{ 'general.404.link' | t }}</a></p>
</div>
