<div class="central content py-medium">
  <h1 class="feature-header" data-cc-animate>{{ page.title }}</h1>

  <div class="rte" data-cc-animate data-cc-animate-delay="0.2s">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page"
}
{% endschema %}
